.Keypoints {
  border-radius: 8px;
  border: 0.5px solid rgba(14, 82, 53, 0.5);
  background: #fff;
  padding: 16px;
  margin-bottom: 20px;
  height: max-content;
  overflow: hidden;
}

.content-container {
  margin-bottom: 20px;
}

.content-container:last-of-type {
  margin-bottom: 0px;
}

.content-heading {
  color: #0e5235;
  font-family: Poppins;
  /* font-size: 12px; */
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.content {
  color: #272b2a;
  font-family: Poppins;
  /* font-size: 10px; */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content li {
  /* margin-bottom: 5px; */
  line-height: 22px;
  height: max-content;
  margin-left: -12px;
}

.suggestion-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 20px; */
}

.suggestion-img-container p {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 2rem;
}

.suggestion-img {
  max-width: 60%;
  width: fit-content;
  height: auto;
}

.expertSuggestions-subcategory-heading {
  font-weight: 600;
}
.expertSuggestions-subcategory ul p {
  margin: 0px 0px 10px -24px;
  line-height: 22px;
  height: max-content;
}

@media screen and (max-width: 650px) {
  .content-heading {
    font-size: 12px;
    font-style: normal;
  }
  .content {
    font-size: 10px;
  }

  .content li {
    margin-bottom: 0px;
    line-height: 14px;
    height: max-content;
  }

  .Keypoints {
    --INVERSE-RATIO: 842 / 595;
    --EXTRA-SPACE: 1020px;
    max-height: calc(
      (var(--MAX-WIDTH) * var(--INVERSE-RATIO)) - var(--EXTRA-SPACE)
    );
  }
}
